<!-- Home page: main navigation for library and adventure -->
<section>
    <div>
        <p class="greetings">
            Welcome back!
        </p>
    </div>
    <div class="catchphrase">
        <p>What are you looking for doing today?</p>
    </div>
</section>
<main>
    <div class="sections">
        <!-- Link to library -->
        <a href="/library" class="articles-phrases" style="text-decoration: none; color: inherit;">
            <div>
            <p class="section-title">Library</p>
            <p>Enjoy a break reading through lots of active entertainment.</p>
            </div>
        </a>
        <!-- Link to adventure mode -->
        <a href="/adventure" class="adventure-mode" style="text-decoration: none; color: inherit;">
            <div>
            <p class="section-title">Adventure Mode</p>
            <p>Try your knowledge in this challenges. Can you beat them all?</p>
            </div>
        </a>
    </div>
</main>
<!-- <section>
    <div class="data">
        <p>Your stats: </p>
    </div>
</section> -->