<!--
  Main header for authenticated users.
  Displays the chuOK logo linking to the main page.
  Navigation bar toggles open/close on click, showing links to Home, Library, Adventure, User Center, and Log Out.
  Each navigation link closes the nav menu on click. Log Out triggers logout logic.
-->
<header class="header">
    <a routerLink="/main"><img class="main-logo-picture" src="assets/images/chuOK-logo.png" alt="Home Logo"></a>
</header>
<nav #navBar class="nav-bar" [class.open]="navOpen" (click)="toggleNav()">
    <ng-container *ngIf="navOpen">
        <a routerLink="/home" title="Home" class="bounce-hover" (click)="closeNav()">
            <img class="logo-picture" src="assets/images/pages/home.png" alt="Home Logo">
        </a>
        <a routerLink="/library" title="Library" class="bounce-hover" (click)="closeNav()">
            <img class="logo-picture" src="assets/images/pages/library.png" alt="Home Logo">
        </a>
        <a routerLink="/adventure" title="Adventure Mode" class="bounce-hover" (click)="closeNav()">
            <img class="logo-picture" src="assets/images/pages/adventure.png" alt="Home Logo">
        </a>
        <a routerLink="/user-center" title="User Center" class="bounce-hover" (click)="closeNav()">
            <img class="logo-picture" src="assets/images/pages/user-center.png" alt="Home Logo">
        </a>
        <a title="Log Out" class="bounce-hover" (click)="logout()">
            <img class="logo-picture" src="assets/images/logout.png" alt="Log Out Logo">
        </a>
    </ng-container>
</nav>