.main-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-weight: 500; 
    margin: 150px auto;
    text-align: center;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 75%;
}



/* Hide all panel content by default */
.main-content-panel-1 .panel-title,
.main-content-panel-1 .panel-content > p,
.main-content-panel-2 .panel-title,
.main-content-panel-2 .panel-content > p {
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
}

.main-content-panel-3 .panel-title,
.main-content-panel-3 .panel-content > p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s, transform 0.4s;
}

/* Show content on hover, with staggered delays for paragraphs */
.main-content-panel-1:hover .panel-title,
.main-content-panel-2:hover .panel-title {
  opacity: 1;
  transform: none;
  transition-delay: 0.1s;
}

.main-content-panel-1:hover .panel-content > p:nth-child(1),
.main-content-panel-1:hover .panel-content > p:nth-child(2) {
    opacity: 1;
    transform: none;
    transition-delay: 0.2s;
}

.main-content-panel-2:hover .panel-content > p:nth-child(1),
.main-content-panel-3:hover .panel-content > p:nth-child(1) {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}

.main-content-panel-2:hover .panel-content > p:nth-child(2),
.main-content-panel-3:hover .panel-content > p:nth-child(2) {
  opacity: 1;
  transform: none;
  transition-delay: 0.4s;
}
.main-content-panel-2:hover .panel-content > p:nth-child(3) {
  opacity: 1;
  transform: none;
  transition-delay: 0.6s;
}
.main-content-panel-2:hover .panel-content > p:nth-child(4) {
  opacity: 1;
  transform: none;
  transition-delay: 0.8s;
}

.main-content-panel-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em 0 0 1em;
    padding: 10px;
    /* background-color: #403e3e; */
    overflow: hidden;
}

.panel-title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.panel-content > p {
    margin-bottom: 20px;
}

.main-content-panel-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 1em 0 0;
    height: 350px;
    padding: 10px;
    /* background-color: #3bb337; */
    overflow: hidden;
}

.main-content-panel-3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1em 0;
    height: 200px;
    padding: 10px;
    /* background-color: #b939bd; */
    font-size: 1.2rem;
    overflow: hidden;
}


.review-section {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.review-section .review-section-title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.review-section .review-section-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.review-section .review-section-container .review-section-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px 10px;
    background-color: #f5f5f5;
}

.review-section .review-section-container .review-section-card :first-child {
    margin-bottom: 10px;
}

.review-section-button {
    width: 120px;
    padding: 10px 15px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.review-section-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.review-section-button:hover::after {
  transform: scale(4);
}

.review-section-button:hover {
  border-color: #666666;
  background: #292929;
}


@media (max-width: 768px) {
    .main-message {
        font-size: 4rem;
    }

    .main-content {
        width: 90%;
    }

    .review-section .review-section-container {
        flex-direction: column;
        align-items: center;
    }

    .review-section .review-section-container .review-section-card {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .main-message {
        font-size: 3rem;
        margin: 100px auto;
    }

    .main-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-content .main-content-panel-1,
    .main-content .main-content-panel-2,
    .main-content .main-content-panel-3 {
        border-radius: 1em;
        width: 100%;
        height: 300px;
        border-radius: 0;
        /* Remove grid-specific properties if present */
        grid-column: auto;
        grid-row: auto;
    }

    .panel-title {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .panel-content {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
    }

    .panel-content > p {
        margin-bottom: 10px;
    }

    .review-section .review-section-container .review-section-card {
        width: 90%;
        height: auto;
    }

    /* Hide all panel content by default */
    .main-content-panel-1 .panel-title,
    .main-content-panel-1 .panel-content > p,
    .main-content-panel-2 .panel-title,
    .main-content-panel-2 .panel-content > p,
    .main-content-panel-3 .panel-title,
    .main-content-panel-3 .panel-content > p {
        opacity: 1;
        transition: none;
    }
}

.main-content-panel-1:hover .panel-title,
.main-content-panel-3:hover .panel-title {
  animation: slideInLeft 1s both;
}

.main-content-panel-1:hover .panel-content,
.main-content-panel-2:hover .panel-content {
  animation: slideInLeft 1s both;
  animation-delay: 0.5s;
}

  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

.main-content-panel-2:hover .panel-title {
  animation: slideInRight 1s both;
}

.main-content-panel-2:hover .panel-content > p:nth-child(1) {
  animation: slideInLeft 1s both;
  animation-delay: 0.5s;
}
.main-content-panel-2:hover .panel-content > p:nth-child(2) {
  animation: slideInLeft 1s both;
  animation-delay: 1s;
}
.main-content-panel-2:hover .panel-content > p:nth-child(3) {
  animation: slideInLeft 1s both;
  animation-delay: 1.5s;
}
.main-content-panel-2:hover .panel-content > p:nth-child(4) {
  animation: slideInLeft 1s both;
  animation-delay: 2s;
}

  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: hidden;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 


.main-content-panel-3:hover .panel-content {
  animation: slideInUp 1s both;
}

  @keyframes slideInUp {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }

  