<div class="main-message">
    <p><span class="gradient-text">chuOK.</span> Take a break</p>
</div>
<main class="main-content">
    <div class="main-content-panel-1 unfold-panel">
        <p class="panel-title">This is chuOK</p>
        <div class="panel-content">
            <p>A place where the impossible happens.</p>
            <p>Entertainment and learning, together.</p>
        </div>
    </div>
    <div class="main-content-panel-2">
        <p class="panel-title">Features</p>
        <div class="panel-content">
            <p>Tons of articles & phrases.</p>
            <p>Thrilling adventure mode.</p>
            <p>Fun and engaging games.</p>
            <p>Interactive quizzes.</p>
        </div>
    </div>
    <div class="main-content-panel-3">
        <div class="panel-content">
            <p>“Sometimes you have to slow down to appreciate all the things that are right in front of you.”</p>
            <p>— Anonymous</p>
        </div>
    </div>
</main>
<section class="review-section">
    <h2 class="review-section-title">What our users say</h2>
    <div class="review-section-container">
        <div class="review-section-card">
            <p>"Nostrum minima debitis blanditiis quis et. Sunt aut eos voluptatem beatae quia esse quisquam aspernatur. Tenetur debitis reprehenderit rem harum ut. Repellendus dignissimos necessitatibus omnis vero."</p>
            <p>- User 1</p>
        </div>
        <div class="review-section-card">
            <p>"Ullam explicabo et est rem et recusandae sit. Rerum deserunt enim magnam hic et asperiores temporibus asperiores nemo. Qui officiis ullam reiciendis est totam ut. Consequuntur rerum blanditiis. Aut recusandae sit voluptas quis est. Qui quibusdam magnam dolorem iusto quam quaerat quod pariatur."</p>
            <p>- User 2</p>
        </div>
        <div class="review-section-card">
            <p>"Fugit saepe sint fugiat dolores quia dignissimos. Voluptatem quas dignissimos. Tenetur voluptatum eligendi nobis quisquam ratione repellendus sed ut quos. In est eaque nisi sint alias cumque aspernatur sed facilis. Saepe cupiditate natus. Labore aut delectus harum."</p>
            <p>- User 3</p>
        </div>
    </div>
<button class="review-section-button">Load More</button>
</section>
