<header class="header">
    <!-- The header contains the logo and the profile picture, both of which are links to different pages in the application -->
    <a routerLink="/main"><img class="logo-picture" src="assets/images/chuOK-logo-no-bg.png" alt="Home Logo"></a>
</header>
<nav class="nav-bar">
    <!-- The navigation links are wrapped in a list for better styling and accessibility -->
    <a routerLink="/library" title="Articles & Phrases" class="bounce-hover">
        <img class="logo-picture" src="assets/images/pages/library.png" alt="Home Logo">
    </a>
    <a routerLink="/adventure" title="Adventure Mode" class="bounce-hover">
        <img class="logo-picture" src="assets/images/pages/adventure.png" alt="Home Logo">
    </a>
    <a routerLink="/main" title="Profile" class="bounce-hover">
        <img class="logo-picture" src="assets/images/pages/profile.png" alt="Home Logo">
    </a>    
</nav>