<footer class="footer">
    <div class="footer-social-media">
        <div class="footer-logo-image">
            <a routerLink="/main" routerLinkActive="active"><img src="assets/images/chuOK-logo-no-bg.png" alt="chuOK Logo"></a>
        </div>
        <div class="footer-social-media-links">
            <a href="#" target="_blank"><img class="social-media-image" src="assets/images/social-media/github-icon.png" alt="Github"></a>
            <a href="#" target="_blank"><img class="social-media-image" src="assets/images/social-media/linkedin-icon.png" alt="LinkedIn"></a>
            <a href="#" target="_blank"><img class="social-media-image" src="assets/images/social-media/instagram-icon.png" alt="Instagram"></a>
        </div>
    </div>
    <div class="footer-links">
        <div class="footer-articles">
            <p>Interesting articles</p>
            <a routerLink="/#" routerLinkActive="active">Article 1</a>
            <a routerLink="/#" routerLinkActive="active">Article 2</a>
            <a routerLink="/#" routerLinkActive="active">Article 3</a>
            <a routerLink="/#" routerLinkActive="active">Article 4</a>
            <a routerLink="/#" routerLinkActive="active">Article 5</a>
        </div>
        <div class="footer-games">
            <p>Interesting games</p>
            <a routerLink="/#" routerLinkActive="active">Game 1</a>
            <a routerLink="/#" routerLinkActive="active">Game 2</a>
            <a routerLink="/#" routerLinkActive="active">Game 3</a>
            <a routerLink="/#" routerLinkActive="active">Game 4</a>
            <a routerLink="/#" routerLinkActive="active">Game 5</a>
        </div>
        <div class="footer-guide">
            <p>Guide to chuOK</p>
            <a routerLink="/#" routerLinkActive="active">Guide 1</a>
            <a routerLink="/#" routerLinkActive="active">Guide 2</a>
            <a routerLink="/#" routerLinkActive="active">Guide 3</a>
            <a routerLink="/#" routerLinkActive="active">Guide 4</a>
            <a routerLink="/#" routerLinkActive="active">Guide 5</a>
        </div>
        <div class="footer-know-contact">
            <p>Know about us</p>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <p>Contact us</p>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </div>
    <div class="footer-copyright">© 2025 Samuel Tineo Herrera. All rights reserved.</div>
</footer>