<div class="admin-article-panel">
  <h2>Manage Articles</h2>

  <button (click)="createNew()">Create New Article</button>

  <div *ngIf="isEditing" class="editor">
    <label>Title: <input [(ngModel)]="selectedArticle.title"></label>
    <label>Content: <textarea [(ngModel)]="selectedArticle.content"></textarea></label>
    <label>Author: <input [(ngModel)]="selectedArticle.author"></label>
    <label>Date: <input [(ngModel)]="selectedArticle.date" type="date"></label>

    <button (click)="saveArticle()">Save</button>
    <button (click)="cancelEdit()">Cancel</button>
  </div>

  <table *ngIf="!isEditing">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <td>{{ article.title }}</td>
        <td>{{ article.author }}</td>
        <td>{{ article.date }}</td>
        <td>
          <button (click)="editArticle(article)">Edit</button>
          <button (click)="deleteArticle(article.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
