<nav class="filter">
  <ul class="filter-list">
      <li>
          <a [routerLink]="'/adventure/literature'" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
            Literature
          </a>
      </li>
      <li>
          <a [routerLink]="'/adventure/science'" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
            Science
          </a>
      </li>
      <li>
          <a [routerLink]="'/adventure/nature'" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
            Nature
          </a>
      </li>
  </ul>
</nav>
<section class="info">
  <pre>{{ userStats | json }}</pre> <!-- For debugging purposes -->

  <div class="stats-container">Last stats:
    <p *ngIf="userStats.length > 0 && userStats[0].level">
      Last Level: {{ userStats[0].level.levelNumber }} ({{ userStats[0].level.world?.name }})
    </p>
    <p>Total Completed: {{ userStats.length }}</p>
    <p>Correct: {{ userStats.length }}</p>
    <p>Total Tries: {{ userStats.length }}</p> <!-- for now same as completed -->
  </div>
</section>
<main class="level-path">
      <div class="level-path-container" style="background-image: url('assets/images/level-path-bg/literature-path-bg-vert.png'); background-size: cover; background-position: center;">
        <ng-container *ngIf="levels && levels.length">
          <button
            *ngFor="let level of levels; let i = index" 
            class="level-button" 
            [class.completed]="isLevelCompleted(level.id)" 
            [disabled]="isLevelCompleted(level.id)" 
            (click)="openLevel(i)"> 
            {{ level.levelNumber }}
          </button>
        </ng-container>
      </div>
  </main>

<!-- Popup Level Modal -->
<div *ngIf="selectedLevelIndex !== null" class="level-modal-overlay" (click)="closeLevel()">
  <div class="level-modal" (click)="$event.stopPropagation()">
    <ng-container *ngIf="selectedLevelIndex !== null && levels[selectedLevelIndex]">
      <h2>Level {{ levels[selectedLevelIndex!].levelNumber }}</h2>
      <section class="level-container">
        <div class="question">
            <img class="logo-picture" src="assets/images/characters/literature-no-bg.png" alt="Literature Logo">
            <p>{{ levels[selectedLevelIndex!].question }}</p>
            <div class="answer-container">
              <div
                *ngFor="let option of [levels[selectedLevelIndex!].option1, levels[selectedLevelIndex!].option2, levels[selectedLevelIndex!].option3, levels[selectedLevelIndex!].option4]; let i = index"
                class="answer"
                [class.correct]="selectedAnswerIndex === i &&isAnswerCorrect"
                [class.incorrect]="selectedAnswerIndex === i && isAnswerCorrect === false"
                (click)="checkAnswer(levels[selectedLevelIndex!], i)"
              >
                {{ option }}
              </div>
            </div>
        </div>
      </section>
    </ng-container>
    <button (click)="closeLevel()"></button>
  </div>
</div>

